body{
    background-color:rgba(63, 199, 240, 0.384);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
  
   
  }
  header{
  background:url(https://resizer.glanacion.com/resizer/v2/credito-QS3KNYFVIFHPJLNBGX45PZCZSM.jpg?auth=50f38491ae3193337eeec020a127bcabf02e8cf5fade7ed15dd8923181e7d2a1&width=768&quality=70&smart=false)no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height:250px;
  overflow:hidden;
  }
  header h1 {
    text-align: center;
    color: white;
    background-attachment: fixed;
    font-family:'bangers' ,cursive;
    font-size: 100px;
    text-shadow: 5px 3px 8px #785;
      position:relative;
      top:20%
   
  }
  
   section {
    font-size:20px;
    margin-bottom: 5em;
      margin-top: 5em;
     text-align:center;
      }
      .contenido{
        margin-left: 400px;
        margin-right: 400px;
      }

  /* Estilos CSS para el footer */
  footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
  }
  
  /* Estilos para el contenido del footer */
  .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  /* Estilos para los botones de redes sociales */
  .social-icons {
      margin-bottom: 20px;
  }
  
  .social-icons a {
      margin: 0 10px;
      text-decoration: none;
  }
  
  /* Estilos para los enlaces en el footer */
  footer a {
      color: #fff;
      text-decoration: none;
  }
  
  /* Estilos para los enlaces en el hover */
  footer a:hover {
      text-decoration: underline;
  }
   
  .linea{
    height:10px;
    background-color:black;
    border:none;
   
  }
  * {
  margin:0px;
  padding:0px;
  }
  
  #header {
    margin:auto;
    width:1000px;
    font-family:Arial, Helvetica, sans-serif;
      
  }
  
  ul, ol {
  list-style:none;
  }
  
  .nav > li {
  float:left;
   
  }
  
  .nav li a {
  background-color:rgba(0,0,0);
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
    width:200px;
  
   
  }
  
  .nav li a:hover {
  background-color:#434343;
  }
  
  .nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
  }
  
  .nav li:hover > ul {
  display:block;
  }
  
  .nav li ul li {
  position:relative;
  }
  
  .nav li ul li ul {
  right:-220px;
  top:0px;
  }

  .menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: min-content;

}

.menu-button {
	border: 0;
  background-color: black;
	color: #fff;
	display: flex;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	transition: .3s;
	
}
.menu-button2 {
	border: 0;
	background-color:black;
	color: #fff;
	display: flex;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	transition: .3s;
	
}
.menu-button3 {
	border: 0;
	background-color:black;
	color: #fff;
	display: flex;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	transition: .3s;
	
}
.menu-button


button:hover span{
	background: none;
}
button:active{
	transform: scale(0.9);
}



.menu-button:last-child {
    margin-right: 0;
	
}

/* Estilos CSS para las imágenes */
.image-container {
    text-align: center;
	
}

.image {
    display: none;
	width: 250%;
	position: absolute;
	left: -700px;
	top:100px;
}

.image.active {
    display: block;
}
.point{
  background-color:#333;
  width:100px;
  height: 20px;
  position:absolute;
  top:48%;
  left:88%;
  color:white;

}